.page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: #000;
    overflow: hidden;
}

.main {
    flex: 1;
    display: flex;
    padding-top: 56px; /* Updated header height */
    height: 100%;
}
